# GitLab Docker Compose Template
# Paste your docker-compose.yml content here
services:
  gitlab:
    image: gitlab/gitlab-ce:latest
    container_name: gitlab
    restart: always
    hostname: 'gitlab.thethalium.ch'
    ports:
      - '4080:80'
      - '4443:443'
      - '422:22'
    volumes:
      - '/home/worker/config:/config/etc/gitlab'
      - '/home/worker/log:/var/log/gitlab'
      - '/home/worker/opt:/var/opt/gitlab'
    shm_size: '256m'